<nav style="background-color:darkslategray;"></nav>
<div class="container">

    <div class="row">
      <div class="col s12 m6 offset-m3 l4 offset-l4 navopc-endchange">

      <h2 class="center-align" style="font-family:nanummyeongjo">회원가입</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :이메일 %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :패스워드 %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>자 이상 적어주세요!)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :패스워드확인 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :이름 %><br />
        <%= f.text_field :user_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :닉네임 %><br />
        <%= f.text_field :nick_name, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :학생조교 %><br />
        <%= f.text_field :identify_type, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :매칭넘버 %><br />
        <%= f.text_field :matching_number, autofocus: true %>
      </div>
      <br>
      <br>

        <div class="row">
          <div class="col s6">
            <div class="actions">
              <button class="btn waves-effect waves-light" type="submit" name="action">
                <%= f.submit "회원가입" %>
              </button>
            </div>
          </div>
        <% end %>
        <div class="col s6">
          <%= render "devise/shared/links" %>
        </div>
      </div>

      <br><br><br><br><br><br>
    </div>
  </div>
</div>
