<div class="container">
<h1> courses_admin_r입니다.</h1>
<%@course_detail.each do |x|%>
<%=x.id%> : <%=x.code%> : <%=x.university%> : <%=x.title%> : <%=x.image%> : <%=x.category%> : <br><a href="/welcome/courses_admin_m/<%=x.id%>">update</a> : <a href="/welcome/courses_admin_d/<%=x.id%>">delete</a>
<br>
<%end%>
<a href="/">main 화면</a>
</div>