<nav style="background-color:darkslategray;"></nav>
<div class="container">

<h1> courses_admin_m입니다.</h1>

<form action="/welcome/courses_admin_u/<%=@course_each.id%>" method="POST">
    code : <input type="text" name="modi_code" value="<%=@course_each.code%>"> <br>
    university : <input type="text" name="modi_university" value="<%=@course_each.university%>"> <br>
    title : <input type="text" name="modi_title" value="<%=@course_each.title%>"> <br>
    image : <input type="text" name="modi_image" value="<%=@course_each.image%>"> <br>
    category : <input type="radio" name="modi_category" value="<%=@course_each.category%>"> <br>
    <p>    
      <input name="modi_category" type="radio" id="category_id_01" value="인문∙사회" />
      <label for="category_id_01">인문∙사회</label>
    </p>
    <p>
      <input name="modi_category" type="radio" id="category_id_02" value="경영∙경제" />
      <label for="category_id_02">경영∙경제</label>
    </p>
    <p>
      <input name="modi_category" type="radio" id="category_id_03" value="과학∙공학" />
      <label for="category_id_03">과학∙공학</label>
    </p>
      <p>
        <input name="modi_category" type="radio" id="category_id_04" value="예술" />
        <label for="category_id_04">예술</label>
    </p>
    <p>
        <input name="modi_category" type="radio" id="category_id_05" value="기타" />
        <label for="category_id_05">기타</label>
    </p>
    <input type="submit" value="변경하기">
</form>


<%=@course_each.id%> : <%=@course_each.code%> : <%=@course_each.university%> : <%=@course_each.title%> : <%=@course_each.image%> : <%=@course_each.category%> : <a href=<%=@course_each.id%>>update</a> : <a href="/">delete</a>
<br>
<a href="/">main 화면</a>
</div>