<!--현재유저쨩이 로그인한다면 없어질! 메인 포토 슬라이더-->
<%unless ppuser_signed_in? %>
<div class="parallax-container" style="height:595px;">
  <div class="parallax">
    <!--<img src="/assets/slider_img1.jpg">-->
      <div class="shades-text text-white caption left-align" style="position: absolute; top: 25%; font-family: 'Nanum Myeongjo', serif;text-shadow:0 0 0.5em #053735;">
        <div class="row">
          <div class="col s8 offset-s2 m12 offset-m5">
            <h2>
              혼자 가면 빨리가고<br>
            </h2>
            <p><br></p>
            <h2>
              함께 가면 멀리간다
            </h2>
            <h5 class="grey-text text-lighten-4">
              아프리카 속담中
            </h5>
          </div>
        </div>
      </div>
  </div>
</div>
<%end%>

<!--내가 듣고 있는 강의들-->
<%if ppuser_signed_in? %>
<nav style="background-color:darkslategray;">
</nav>

<div class="section no-pad-bot navopc-endchange" id="index-banner">
  <div class="container" style="background-image: url(/assets/bg_img_mountain.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 100%;">
    <br><br><br>
    <div class="row" style="padding-top: 9px;">
      <div class="col s12 m6">
        <h5 class="header teal-text" style="font-size: 20px; padding-left: 85px;">패쓰패쓰에 돌아온걸 화녕행</h5>
      </div>
      <div class="col s6 m4"><h5 class="header right black-text" style="font-size: 20px;"><%= current_ppuser.email%> 님</h5></div>
      <div class="col s6 m2">
        <a class="btn-floating btn-large waves-effect waves-light teal"><i class="material-icons">perm_identity</i></a>
      </div>
    </div>

<!--강의 퍼센트 표시-->
    <div class="indexrow" style="">
      <div class="row">
        <a href="/">
          <div class="col s4 m4">
            <p>&nbsp;&nbsp;강의 제목</p>
          </div>
          <div class="col s4 m5">
            <div class="progress" style="margin: 20px 10px;padding: 3px;">
              <div class="determinate" style="width: 70%"></div>
            </div>
          </div>
          <div class="col s2 m2">
            <p>70%</p>
          </div>
          <div class="col s2 m1">
             <div class="gobtn" style=""><i class="material-icons" style="margin:3px;">play_arrow</i></div>
          </div>
        </a>
      </div>
    </div><br>

    <div class="indexrow" style="">
      <div class="row">
        <a href="/">
          <div class="col s4 m4">
            <p>&nbsp;&nbsp;강의 제목</p>
          </div>
          <div class="col s4 m5">
            <div class="progress" style="margin: 20px 10px;padding: 3px;">
              <div class="determinate" style="width: 70%"></div>
            </div>
          </div>
          <div class="col s2 m2">
            <p>70%</p>
          </div>
          <div class="col s2 m1">
             <div class="gobtn" style=""><i class="material-icons" style="margin:3px;">play_arrow</i></div>
          </div>
        </a>
      </div>
    </div><br>

    <div class="indexrow" style="">
      <div class="row">
        <a href="/">
          <div class="col s4 m4">
            <p>&nbsp;&nbsp;강의 제목</p>
          </div>
          <div class="col s4 m5">
            <div class="progress" style="margin: 20px 10px;padding: 3px;">
              <div class="determinate" style="width: 70%"></div>
            </div>
          </div>
          <div class="col s2 m2">
            <p>70%</p>
          </div>
          <div class="col s2 m1">
             <div class="gobtn" style=""><i class="material-icons" style="margin:3px;">play_arrow</i></div>
          </div>
        </a>
      </div>
    </div><br>

    <div class="indexrow" style="">
      <div class="row">
        <a href="/">
          <div class="col s4 m4">
            <p>&nbsp;&nbsp;강의 제목</p>
          </div>
          <div class="col s4 m5">
            <div class="progress" style="margin: 20px 10px;padding: 3px;">
              <div class="determinate" style="width: 70%"></div>
            </div>
          </div>
          <div class="col s2 m2">
            <p>70%</p>
          </div>
          <div class="col s2 m1">
             <div class="gobtn" style=""><i class="material-icons" style="margin:3px;">play_arrow</i></div>
          </div>
        </a>
      </div>
    </div><br>

  <div class="indexrow" style="">
      <div class="row">
        <a href="/">
          <div class="col s4 m4">
            <p>&nbsp;&nbsp;강의 제목</p>
          </div>
          <div class="col s4 m5">
            <div class="progress" style="margin: 20px 10px;padding: 3px;">
              <div class="determinate" style="width: 70%"></div>
            </div>
          </div>
          <div class="col s2 m2">
            <p>70%</p>
          </div>
          <div class="col s2 m1">
             <div class="gobtn" style=""><i class="material-icons" style="margin:3px;">play_arrow</i></div>
          </div>
        </a>
      </div>
    </div><br>
  </div>
</div>
<%end%>
<!--로그인끝-->

<!--강의 탭-->
<div class="container">
  <div class="row">
    <div class="col s12 navopc-endchange">
      <ul class="tabs">
        <li class="tab col s4" style="border-right: 1px solid #e0e0e0;">
          <a class="waves-effect waves-teal" href="#test1">날짜별</a></li>
        <li class="tab col s4" style="border-right: 1px solid #e0e0e0;">
          <a class="waves-effect waves-teal" href="#test2">카테고리별</a></li>
        <li class="tab col s4">
          <a class="waves-effect waves-teal" href="#test3">학교별</a></li>
      </ul>
    </div>

    <!--검색창-->
      <div class="row">
        <div class="input-field col s12 m6 l4">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="text" class="validate" placeholder="강의 검색">
        </div>
      </div>

    <!--날짜별 탭 -->
    <div id="test1" class="col s12">

      <!--강의카드-->
      <div class="row">

      <% @course_detail.each do |course_each|%>
        <div class="col s12 m4 l3">
          <div class="card small">
            <%= link_to course_each.url, target: '_blank' do %>
              <div class="card-image">
                <%= image_tag course_each.image %>
              </div>
              <div class="card-content">
                <span class="card-title"><%=course_each.title%></span>
                <p><%=course_each.university%><br><%=course_each.code%><br><%=course_each.release_date%></p>
              </div>
              <div class="card-action">
                <a href="#">스터디 신청하기!</a>
              </div>
            </div>
          <% end %>
        </div>
      <%end%>
      </div>
    </div>

    <!--카테고리별 탭-->
    <div id="test2" class="col s12">
        <!--장르별 탭-->
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s2" style="border-right: 1px solid #e0e0e0;">
                <a class="waves-effect waves-teal" href="#category_id_01">인문∙사회</a></li>
              <li class="tab col s2"style="border-right: 1px solid #e0e0e0;">
                <a class="waves-effect waves-teal" href="#category_id_02">경영∙경제</a></li>
              <li class="tab col s2" style="border-right: 1px solid #e0e0e0;">
                <a class="waves-effect waves-teal" href="#category_id_03">과학∙공학</a></li>
              <li class="tab col s2" style="border-right: 1px solid #e0e0e0;">
                <a class="waves-effect waves-teal" href="#category_id_04">예술</a></li>
              <li  class="tab col s2">
                <a class="waves-effect waves-teal" href="#category_id_05">기타</a></li>
            </ul>

        </div>
        <!-- 클릭을 했을때 클릭된 밸류만 받아오기-->
        <!-- 1. 인문사회를 클릭한다.-->
        <!-- 1.1. div아이디가 인문사회로 바뀐다.-->
        <!-- 2. 인문사회만 찾아 뿌린다.-->

        <%course_sorter = Hash.new%>
        <%course_sorter = {"인문∙사회" => "category_id_01" , "경영∙경제" => "category_id_02" , "과학∙공학" => "category_id_03" , "예술" => "category_id_04" , "기타" => "category_id_05"}%>

        <%course_sorter.each do |key, value|%>

        <div id = <%=value%>>
          <div class="row">
            <%if Course.where(category: key).each do |course_each|%>
                <div class="col s12 m4 l3">
                  <div class="card small">
                    <%= link_to course_each.url, target: '_blank' do %>
                      <div class="card-image">
                        <%= image_tag course_each.image %>
                      </div>
                      <div class="card-content">
                        <span class="card-title"><%=course_each.title%></span>
                        <p><%=course_each.university%><br><%=course_each.code%><br><%=course_each.release_date%></p>
                      </div>
                      <div class="card-action">
                        <a href="#">스터디 신청하기!</a>
                      </div>
                    <%end%>
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        <%end%>
        <%end%>
      </div>

    </div>
    <!--학교별 탭-->
    <div id="test3" class="col s12">
      <!--장르별 탭-->
      <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s1" style="border-right: 1px solid #e0e0e0;">
                <a class="waves-effect waves-teal" href="#cat1">건양대</a></li>
              <li class="tab col s1"style="border-right: 1px solid #e0e0e0;">
                <a class="waves-effect waves-teal" href="#cat2">가톨릭대</a></li>
              <li class="tab col s1" style="border-right: 1px solid #e0e0e0;">
                <a class="waves-effect waves-teal" href="#cat3">연세대</a></li>
              <li class="tab col s1" style="border-right: 1px solid #e0e0e0;">
                <a class="waves-effect waves-teal" href="#cat4">단국대</a></li>
              <li class="tab col s1">
                <a class="waves-effect waves-teal" href="#cat5">경희대</a></li>
                <li class="tab col s1">
                <a class="waves-effect waves-teal" href="#cat6">고려대</a></li>
                <li class="tab col s1">
                <a class="waves-effect waves-teal" href="#cat7">부산대</a></li>
                <li class="tab col s1">
                <a class="waves-effect waves-teal" href="#cat8">서울대</a></li>
                <li class="tab col s1">
                <a class="waves-effect waves-teal" href="#cat9">성균관대</a></li>
                <li class="tab col s1">
                <a class="waves-effect waves-teal" href="#cat10">이화여대</a></li>
                <li class="tab col s1">
                <a class="waves-effect waves-teal" href="#cat11">한양대</a></li>
                <li class="tab col s1">
                <a class="waves-effect waves-teal" href="#cat12">포항공대</a></li>
                <li class="tab col s1">
                <a class="waves-effect waves-teal" href="#cat13">K-MOOC</a></li>
            </ul>
          </div>

          <div id="cat1" class="col s12">
          </div>

          <div id="cat2" class="col s12">
          </div>

          <div id="cat3" class="col s12">
          </div>

          <div id="cat4" class="col s12">
          </div>

          <div id="cat5" class="col s12">
          </div>

        </div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function(){
    $('ul.tabs').tabs();
    $('.parallax').parallax();
  });

</script>
