<!--메인 포토 슬라이더-->
<div class="slider">
  <ul class="slides">
    <li>
      <img src="/assets/slider_img1.jpg"> <!-- random image -->
      <div class="caption left-align">
        <h3>혼자 가면 빨리가고<br>
        함께 가면 멀리간다</h3>
        <h5 class="light grey-text text-lighten-3">아프리카 속담中</h5>
      </div>
    </li>
    <li>
      <img src="/assets/slider_img2.jpg"> <!-- random image -->
      <div class="caption center-align">
        <h3>Pass with<br>Pass Path</h3>
        <h5 class="light grey-text text-lighten-3">Let's Pass</h5>
      </div>
    </li>
  </ul>
</div>

<!--로그인하면 나오는 내가 듣고 있는 강의들-->
<div class="section no-pad-bot" id="index-banner" style="min-height: 400px;">
  <div class="container" style="background-image: url(/assets/bg_img_mountain.png);
    min-height: 400px; width: 100%;
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 100%;">
    <br>
    <div class=row>
      <div class="col s12 m6">
        <h5 class="header center teal-text">패쓰패쓰에 돌아온걸 화녕행</h5>
      </div>
      <div class="col s6 m3"><h5 class="header right black-text">하용용 님</h5></div>
      <div class="col s6 m3">
        <a class="btn-floating btn-large waves-effect waves-light teal"><i class="material-icons">perm_identity</i></a>
      </div>
    </div>
    <br>
    
<!--강의 퍼센트 표시-->
      <div class="indexrow" style="">
        <div class="row">
          <a href="/">
            <div class="col s4 m4">
              <p>&nbsp;&nbsp;강의 제목</p>
            </div>
            <div class="col s4 m5">
              <div class="progress" style="margin: 20px 10px;padding: 3px;">
                <div class="determinate" style="width: 70%"></div>
              </div>
            </div>
            <div class="col s2 m2">
              <p>70%</p>
            </div>
            <div class="col s2 m1">
               <div class="gobtn" style=""><i class="material-icons" style="margin:3px;">play_arrow</i></div>
            </div>
          </a>
        </div>
      </div><br>
      
      <div class="indexrow" style="">
        <div class="row">
          <a href="/">
            <div class="col s4 m4">
              <p>&nbsp;&nbsp;강의 제목</p>
            </div>
            <div class="col s4 m5">
              <div class="progress" style="margin: 20px 10px;padding: 3px;">
                <div class="determinate" style="width: 70%"></div>
              </div>
            </div>
            <div class="col s2 m2">
              <p>70%</p>
            </div>
            <div class="col s2 m1">
               <div class="gobtn" style=""><i class="material-icons" style="margin:3px;">play_arrow</i></div>
            </div>
          </a>
        </div>
      </div><br>
      
      <div class="indexrow" style="">
        <div class="row">
          <a href="/">
            <div class="col s4 m4">
              <p>&nbsp;&nbsp;강의 제목</p>
            </div>
            <div class="col s4 m5">
              <div class="progress" style="margin: 20px 10px;padding: 3px;">
                <div class="determinate" style="width: 70%"></div>
              </div>
            </div>
            <div class="col s2 m2">
              <p>70%</p>
            </div>
            <div class="col s2 m1">
               <div class="gobtn" style=""><i class="material-icons" style="margin:3px;">play_arrow</i></div>
            </div>
          </a>
        </div>
      </div><br>
      
      <div class="indexrow" style="">
        <div class="row">
          <a href="/">
            <div class="col s4 m4">
              <p>&nbsp;&nbsp;강의 제목</p>
            </div>
            <div class="col s4 m5">
              <div class="progress" style="margin: 20px 10px;padding: 3px;">
                <div class="determinate" style="width: 70%"></div>
              </div>
            </div>
            <div class="col s2 m2">
              <p>70%</p>
            </div>
            <div class="col s2 m1">
               <div class="gobtn" style=""><i class="material-icons" style="margin:3px;">play_arrow</i></div>
            </div>
          </a>
        </div>
      </div><br>
    
    <div class="indexrow" style="">
        <div class="row">
          <a href="/">
            <div class="col s4 m4">
              <p>&nbsp;&nbsp;강의 제목</p>
            </div>
            <div class="col s4 m5">
              <div class="progress" style="margin: 20px 10px;padding: 3px;">
                <div class="determinate" style="width: 70%"></div>
              </div>
            </div>
            <div class="col s2 m2">
              <p>70%</p>
            </div>
            <div class="col s2 m1">
               <div class="gobtn" style=""><i class="material-icons" style="margin:3px;">play_arrow</i></div>
            </div>
          </a>
        </div>
      </div><br>
      
  </div>
</div>


<!--강의 탭-->
<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4" style="border-right: 1px solid #e0e0e0;">
          <a class="waves-effect waves-teal" href="#test1">날짜별</a></li>
        <li class="tab col s4" style="border-right: 1px solid #e0e0e0;">
          <a class="waves-effect waves-teal" href="#test2">카테고리별</a></li>
        <li class="tab col s4">
          <a class="waves-effect waves-teal" href="#test3">학교별</a></li>
      </ul>
    </div>
    
    <!--검색창-->
      <div class="row">
        <div class="input-field col s12 m6 l4">
          <i class="material-icons prefix">search</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">강의 검색</label>
        </div>
      </div>
      
    <!--날짜별 탭 -->
    <div id="test1" class="col s12">

      <!--강의카드-->
      <div class="row">

      <% @course_detail.each do |course_each|%>  
        <div class="col s12 m4 l3">
          <div class="card small">
            <%= link_to course_each.url, target: '_blank' do %>
              <div class="card-image">
                <%= image_tag course_each.image %>
                <!--<span class="card-title"><%=course_each.title%></span>-->
                <!--강의제목 가림-->
              </div>
              <div class="card-content">
                <p><%=course_each.university%><br><%=course_each.code%><br><%=course_each.release_date%></p>
              </div>
              <div class="card-action">
                <a href="#">스터디 신청하기!</a>
              </div>
            </div>
          <% end %>
        </div>
      <%end%>
      </div>
    </div>

    <!--카테고리별 탭-->
    <div id="test2" class="col s12">
        <!--장르별 탭-->
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s2" style="border-right: 1px solid #e0e0e0;">
                <a class="waves-effect waves-teal" href="#cat1">인문</a></li>
              <li class="tab col s2"style="border-right: 1px solid #e0e0e0;">
                <a class="waves-effect waves-teal" href="#cat2">사회</a></li>
              <li class="tab col s2" style="border-right: 1px solid #e0e0e0;">
                <a class="waves-effect waves-teal" href="#cat3">경제</a></li>
              <li class="tab col s2" style="border-right: 1px solid #e0e0e0;">
                <a class="waves-effect waves-teal" href="#cat4">과학</a></li>
              <li class="tab col s2">
                <a class="waves-effect waves-teal" href="#cat5">예술</a></li>
            </ul>
          </div>
          
          <div id="cat1" class="col s12">
          </div>
          
          <div id="cat2" class="col s12">
          </div>
          
          <div id="cat3" class="col s12">
          </div>
          
          <div id="cat4" class="col s12">
          </div>
          
          <div id="cat5" class="col s12">
          </div>
        
        </div>
        
    </div>

    <!--학교별 탭-->
    <div id="test3" class="col s12">
      
    </div>
    
  </div>
</div>


<script>
  $(document).ready(function(){
    $('.slider').slider({full_width: true});
    $('ul.tabs').tabs();
  });
    
</script>